/* 
    Document   : style
    Created on : 22-okt-2013, 8:44:40
    Author     : jan
    Description:
        Purpose of the stylesheet follows.
*/
.mijnSelect {width:15em;}
.mijnInput {width:15em;}
.mijnKnop {width:10em; color:blueviolet}
